@page
@model BookBlastInc.Web.Pages.ShoppingCartPages.OrderConfirmation

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order placed succesfully!</h1>
        <p>Your order number is @Model.OrderNumber</p>
    </div>
    <div class="col-12 text-center" style="color: maroon">
        <br/>
        <p>Your order has been placed succesfully!</p>
        <a href="https://localhost:7089/">Continue to the home</a>
    </div>
    
</div>